* {

    margin: 0;
    padding: 0;

}

.body-container {

    display: flex;
    flex-flow: column;

    height: 100vh;

}

.menu-container {

    flex: 1 1;
    
    width: 100%;
    height: 100px;

    background: rgba(40, 255, 40, 0.4);


}

.menu-container .menu {

    width: auto;
    height: inherit;

    display: flex;
    flex-flow: row;

}

.menu-container .menu .element {

    flex: 0 0 250px;

    position: relative;

}

.menu-container .menu .element:hover {

    background: rgba(14, 158, 14, 0.4);
    
    transition: 0.5s;
    
    cursor: pointer;

}

.menu-container .menu .element span, .menu-container .menu .element > a{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: 30px;

    text-align: center;
    text-decoration: none;

    color: black;

    width: 100%;


}

.menu-container .menu .element .menu-list {

    position: absolute;
    top: 100px;

    width: 250px;
    height: 400px;

    background: rgba(98, 240, 98, 0.4);
    display: none;

}

.menu-container .menu .element:hover .menu-list {

    display: block;

}

.main-container .menu .element .menu-list  ul  li  a {

    font-size: 25px;

}

.main-container {

    display: flex;
    flex-flow: row;
    flex: 0 0 auto;

    width: 100%;
    height: 750px;

    background: red;

}

.main-container .aside-container {

    flex: 0 1 250px;

    background: blue;

}

.main-container .article-container {

    flex: 1 1;
    background: green;

}

.main-container .article-container article {

    margin: 50px;

}

.main-container .article-container article h1 {

    font-size: 30px;

    margin: 10px;

}

.main-container .article-container article p {

    margin: 20px;

    font-size: 20px;

}

.footer-container {

    height: 100%;
    flex: 1 1 auto;

    background: aqua;

}

.footer-container footer {

    position: relative;
    top: 50%;

    transform: translateY(-50%);

}

.footer-container footer p {

    font-size: 35px;
     
    width: 100%;
    text-align: center;

}

